@import 'reset.css';
@import 'variables.css';

/* screens */
@import 'screens/login.css';
@import 'screens/programs.css';
@import 'screens/find.css';
@import 'screens/settings.css';
@import 'screens/chat.css';

/* components */
@import 'components/status-bar.css';
@import 'components/nav-bar.css';
@import 'components/screen-header.css';
@import 'components/user-component.css';
@import 'components/badge.css';
@import 'components/alt-screen-header.css';
@import 'components/no-mobile.css';

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #141414;
  color: white;
  height: 100vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
