.badge {
  background-color: var(--red);
  width: 27px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
}
