.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 60px;
  padding-bottom: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 18px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
